@model SplitMe.Domain.Artist

@{
    ViewBag.Title = "Edit Artist Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section SubNavigation {
    
}*@

@using (Ajax.BeginForm("Edit", new {id = Request.Url.Segments[4] }, new AjaxOptions { LoadingElementId = "updating", UpdateTargetId = "validation" }, new { id = "targetform", @class = "form-horizontal" }))
{
        <h2>@ViewBag.PageTitle</h2>

        <div class="row">
            <div class="span3">&nbsp;</div>
                <div class="span8">

                <div class="control-group">
                    <label class="control-label" for="txtName">
                        Artist Name</label>
                    <div class="controls">
                        @Html.TextBox("txtName", Model.Name, new Dictionary<string, object> { { "class", "textbox" }, { "maxlength", "50" } })
                    </div>
                </div>
            </div>
        </div>
      
        string delScript = "deleteArtist('"+ Model.Id +"');";
    
        <div class="row">
            <div class="span12 well centered">
			    <a class="btn btn-danger" href="#" onclick="@delScript"><i class="icon-trash icon-white"></i> Delete</a>
			    <a class="btn btn-primary" href="#"  onclick="$('#targetform').submit();">Save</a>
            </div>
        </div>
}
